[Unit]
Description=Start Activate-Linux
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/activate-linux

[Install]
WantedBy=graphical-session.target
