[Unit]
Description=aria2 daemon
Wants=network-online.target
After=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/aria2c --enable-rpc
#Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target
