[Unit]
Description=A self-hosted dashboard that puts all your feeds in one place
Documentation=https://github.com/glanceapp/glance
After=network.target

[Service]
ExecStart=/usr/local/bin/glance --config /etc/glance.yaml
Restart=always
Environment="HTTP_PROXY=http://localhost:8800"
Environment="HTTPS_PROXY=http://localhost:8800"
Environment="ALL_PROXY=http://localhost:8800"

[Install]
WantedBy=multi-user.target
