[Unit]
Description=Simple One API Service
Documentation=https://github.com/fruitbars/simple-one-api
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/simple-one-api/
ExecStart=/opt/simple-one-api/simple-one-api
Restart=on-failure
StandardOutput=file:%L/simple-one-api.log
StandardError=file:%L/simple-one-api.log

[Install]
WantedBy=multi-user.target
