attrs	# 类属性
pipx	# 用于安装 python 工具
pex	# 打包 python 环境
ruff	# python 格式化，同时也是多种库的依赖
runlike	# 导出 Docker Container 的运行命令
yamlfix	# yaml 格式化
config-formatter	# 配置文件格式化
pypyp	# 在命令行中运行 python
deepdiff[optimize]	# 深度比较
nbdime	# Jupyter Notebook 的对比工具
pipreqs	# 生成 requirements.txt
toolz	# 函数式编程
chardet	# 字符编码检测
stringzilla	# 字符串处理
#nvitop	# 显卡监控
johnnydep	# 无须安装，可直接查看依赖
pipdeptree	# 需要安装，但可以查看依赖和反向依赖
loguru	# 日志
loguru-config
python-box[all]	# 字典处理
more-itertools	# 迭代器
jmespath	# json 查询
transitions	# 状态机
pqdict	# 优先队列字典
pint	# 单位处理
sortedcontainers	# 排序容器
notify-py	# 通知
pendulum[test]	# 时间处理
plumbum	# 命令行
python-dotenv
semver	# 版本处理
packaging	# 版本处理
hydra-core	# 配置文件
#omegaconf	# 配置文件
#dynaconf[all]	# 配置文件
#rcviz	# 递归可视化
dm-tree	# 树形数组
treelib	# 树数据类型
py-spy	# 性能分析
scalene	# GPU性能分析
stitching	# 图片拼接
magika	# 检测文件类型
crc32c	# 校验
soundfile	# 音频
grequests	# 异步请求
#aiofiles
pysocks	# 代理
scapy	# 网络包处理
#pyupgrade
sqlfluff	# sql 格式化
pathvalidate	# 路径检查
clevercsv[full]	# csv处理
#fastapi[all]
litestar[standard]	# 后端
fire	# 命令行
atuin-graph	# 命令行历史可视化
#typer[all]
jurigged[develoop]	# 热重载
#drgn	# 内核调试
pydumpling	# python traceback 调试
pdbpp	# pdb 的增强版, 结合 pydumpling 使用
rich	# 输出美化
snoop	# 调试
#ggplot
polars
great_tables	# 输出精美表格
ocrmypdf	# pdf ocr
pandasgui	# pandas 可视化
plotnine[all]
fastplotlib[notebook,imgui]	# 可视化
mplfonts	# matplotlib 字体
onnx
xarray[complete]
einops
einop
xarray-einstats
sympy
