pip
bar_chart_race
cnki2bib
ddddocr
ffmpeg-python
handcalcs
httpx[cli,http2,socks5,brotli]
johnnydep
kaggle
latexify-py
memray
name-that-hash
pdf2docx
pytablereader[all]
pytablewriter[all]
polars
pqdict
playwright
pytest-playwright
pywebio
rtoml
scanf
selectolax
