attrs	# 类属性
pipx	# 用于安装 python 工具
pypyp	# 用于安装 python 版本
stringzilla	# 字符串处理
nvitop	# 显卡监控
docker-squash	# docker 镜像压缩
johnnydep	# 无须安装，可直接查看依赖
pipdeptree	# 需要安装，但可以查看依赖和反向依赖
loguru	# 日志
loguru-config
python-box[all]	# 字典处理
jmespath	# json 查询
transitions	# 状态机
pqdict	# 优先队列字典
pint	# 单位处理
notify-py	# 通知
pendulum[test]	# 时间处理
plumbum	# 命令行
python-dotenv
semver	# 版本处理
packaging	# 版本处理
hydra-core	# 配置文件
omegaconf	# 配置文件
#dynaconf[all]
#rcviz	# 递归可视化
dm-tree	# 树结构
py-spy	# 性能分析
scalene	# GPU性能分析
stitching	# 图片拼接
magika	# 检测文件类型
crc32c	# 校验
soundfile	# 音频
grequests	# 异步请求
#aiofiles
pysocks	# 代理
#pyupgrade
ruff	# 代码检查
pathvalidate	# 路径检查
clevercsv[full]	# csv处理
sqlitebiter[all]	# 数据库处理
#fastapi[all]
litestar[standard]	# 后端
fire	# 命令行
#typer[all]
drgn	# 内核调试
pydumpling	# python traceback 调试
rich	# 输出美化
snoop	# 调试
#ggplot
polars
great_tables	# 输出精美表格
plotnine[all]
mplfonts	# matplotlib 字体
onnx
xarray[complete]
einops
xarray-einstats
sympy
