attrs
pipx
pypyp
stringzilla
docker-squash
johnnydep	# 无须安装，可直接查看依赖
pipdeptree	# 需要安装，但可以查看依赖和反向依赖
loguru
loguru-config
addict
pendulum
drgn
python-dotenv
hydra-core
omegaconf
#dynaconf[all]
#scalene
stitching
magika
crc32c
soundfile
grequests
#aiofiles
pysocks
#pyupgrade
ruff
clevercsv[full]
sqlitebiter[all]
#fastapi[all]
litestar[standard]
typer[all]
rich
snoop
#ggplot
plotnine[all]
mplfonts
onnx
xarray[complete]
einops
xarray-einstats
sympy
imutils
