pip
pyforest	# 自动导入
bar_chart_race	# 柱状图动画
#cnki2bib
#ddddocr
ffmpeg-python
httpx[cli,http2,socks5,brotli]
vcrpy	# 录制http请求
#furl
yarl	# url解析
kaggle
#handcalcs	# python公式转latex
latexify-py	# python公式转latex
#memray
name-that-hash	# hash字符串类型识别
pdf2docx
pytablereader[all]
pytablewriter[all]
playwright
pytest-playwright
pywebio	# web交互
rtoml
#xmltodict
scanf
selectolax	# html解析
