bar_chart_race
cnki2bib
ddddocr
ffmpeg-python
handcalcs
httpx[http2,brotli,socks]
johnnydep
kaggle
latexify-py
memray
name-that-hash
pdf2docx
polars
pqdict
playwright
pymusic-dl
py-spy
pywebio
rtoml
scanf
selectolax
