torch
torch_xla[tpu] -f https://storage.googleapis.com/libtpu-releases/index.html
thop	# 计算模型参数量和计算量
lovely-tensors	# 优化tensor的显示
torchvision
torchaudio
accelerate
xformers
deepspeed
peft
trl
jax[cuda12_local] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jaxtyping
equinox
eqxvision
ftfy	# 修复文本编码问题
#dataset
aim
wandb
tensorboardX
tensor-repr[snoop]
tensor-sensor[torch,jax]
pascal-voc
pycocotools
transformers[sentencepiece]
datasets
evaluate[template]
bitsandbytes
#codecarbon
#huggingface_hub
gradio
nx-cugraph-cu11 --extra-index-url https://pypi.nvidia.com	# NetworkX的GPU加速库
