thop
drgn
stitching
grequests
pyupgrade
black
ruff
clevercsv[full]
dataset
fastapi[all]
typer[all]
typer-cli
rich
snoop
plotnine[all]
gradio
onnx
xarray[complete]
einops
xarray-einstats
torch
tensor-repr[snoop]
lovely-tensors
imutils
torchvision
torchaudio
tensorboard
jax[cuda12_local] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jaxtyping
equinox
tensor-sensor[torch,jax]
codecarbon
#huggingface_hub
transformers[sentencepiece]
datasets
evaluate[template]
accelerate
deepspeed
peft
