pip
pyforest	# 自动导入
bar_chart_race	# 柱状图动画
#cnki2bib
#ddddocr
ffmpeg-python
opencv-python	# opencv
imutils	# opencv 包装库
Pillow	# 图像处理
pillow-avif-plugin	# avif支持
scikit-image[optional]	# 图像处理
moviepy	# 视频处理
vidgear[asyncio]	# 视频流处理
httpx[cli,http2,socks,brotli]
vcrpy	# 录制http请求
furl	# url解析
#yarl	# url解析
kaggle
PyGithub	# github api
#handcalcs	# python公式转latex
#latexify-py	# python公式转latex
#memray
name-that-hash	# hash字符串类型识别
#pdf2docx
pytablereader[all]
pytablewriter[all]
playwright
pytest-playwright
pywebio	# web交互
pyarmor	# 加密
rtoml
#xmltodict
scanf
selectolax	# html解析
