[user]
	name = Bit0r
	email = nie_wang@outlook.com
[core]
	editor = code -w
	pager = ov -F
	# hooksPath = ~/.config/git/hooks
[http]
	# 必须设置端口，否则可能会导致无法推送
	proxy = socks5h://localhost:1080
[credential]
	helper = libsecret
	#helper = store --file ~/.config/git/git-credentials
	helper = oauth
	# 在没有浏览器的远程服务器上使用
	#helper = oauth -device

	# git credential manager(GCM)，另一个登录验证工具。
	#helper = manager
	#credentialStore = secretservice
[init]
	defaultBranch = main
[rerere]
	enabled = true
[pull]
	ff = only
# [push]
# 	recurseSubmodules = on-demand
[diff]
	tool = vscode
	submodule = log
	# 不能忽略空白，因为如果一个文件有非常多的空白，那么这个文件的git diff就会非常大
	#ignoreAllSpace = true
[difftool "vscode"]
	cmd = code -w -d $LOCAL $REMOTE
[diff "exif"]
	textconv = exiftool
# [merge "ours"]
# 	driver = true
# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	process = git-lfs filter-process
# 	required = true
