[user]
	name = Bit0r
	email = nie_wang@outlook.com
[core]
	editor = code -w
	hooksPath = ~/.config/git/hooks
[http "https://github.com"]
	proxy = socks5://localhost
[credential]
	# helper = keepassxc
	helper = store --file ~/.config/git/git-credentials
[rerere]
	enabled = true
[pull]
	ff = only
[push]
	recurseSubmodules = on-demand
[diff]
	tool = vscode
	submodule = log
	ignoreAllSpace = true
[difftool "vscode"]
	cmd = code -w -d $LOCAL $REMOTE
[diff "exif"]
	textconv = exiftool
# [merge "ours"]
# 	driver = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
