# registry "https://repo.huaweicloud.com/repository/npm/"
# electron_mirror "https://repo.huaweicloud.com/electron/"
registry "https://registry.npmmirror.com/"

# 最好不要打开这个选项，因为npm包要下载大量小文件，大量的路由分流会导致下载速度变慢
#proxy "http://localhost:8800"
